body{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.705);   
}

li {
    list-style: none;
}
.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4.5fr;
    /* grid-template-rows: repeat(6, 250px); */
    grid-template-rows: 1fr 4fr;
    
}

.header {
    background-color: rgb(218, 255, 243);
    
    display: grid;
    
    grid-template-columns: 2fr 1fr;
    box-shadow: 0 3px 8px -2px gray;
    z-index: 1;   
}

.nav-left {
    display: grid;
    align-items: center;
    grid-row: 1/3;
    /* grid-template-columns: 2fr 1fr; */
    background-color: rgb(255, 255, 255);
    gap: 2rem;
}

.search-container{
    display: grid;
    
    margin-left: 2rem;
    margin-top: 2rem;
    align-items: end;
   
}
form{
    display: grid;
    grid-template-columns: 20px 1fr;
    column-gap: 20px;
    align-items: center;
}
.nav-left svg, .notification-btn svg {
    filter: invert(0%)   brightness(104%) contrast(100%);
}
input[type=search]{
    /* width: 100%; */
    /* max-width: 400px; */
    /* min-width: 200px; */
   
    border-radius: 20px;
    border: none;
    text-indent: 10px;
    height: 30px;
    margin-left: 20px;
    background-color: rgb(220, 234, 243);
    font-size: 25px;
    color: rgb(45, 88, 138);
    
}
input[type=search]:focus{
    outline: none;
    color: rgb(45, 88, 138);
}
.search-btn{
    width: 40px;
    background-color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    
}




/* 
.action-nav {
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
   

} */

.left {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    margin-left: 2rem;
    margin-bottom: 2rem;
    
}
.left div{
    display: grid;
    align-content: center;
    gap: 5px;
}


.left h1,
.left  p{
    font-size: 14px;
    margin: 0;
    color: black;
    font-weight: bold;
}

.left div h1{
    font-size: 24px;
    white-space: nowrap;
  
}
.left img {
    border-radius: 100%;
    height: 80px;
    width: 80px;
}



.nav-right {
    display: grid;
    /* align-content: end; */
    justify-items: end;
    grid-row: 1/3;
    background-color: #fff;
    /* width: 60%; */
    
}

.notification-btn {
    width: 40px;
    background-color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
}

.profile-nav {
    display: grid;
    grid-template-columns: 4rem 5rem 1fr;
    /* grid-row: 1/3; */
 
    justify-self: start;
    margin-left: 2rem;
    align-items: center;
    /* gap: 40px; */
    
}

.profile-nav a {
    white-space: nowrap;
    text-decoration: none;
    user-select: none;
    color: rgb(0, 0, 0);
}

.profile-nav img {
    border-radius: 100%;
    width: 50px;
    height: 50px;
}


.right{
    display: grid;
    grid-template-columns: repeat(3, 130px);
    margin-right: 3rem;
    align-items: center;
    justify-self: start;
  
}
.right button {
    width: 90px;
    height: 40px;
    background-color: rgb(98, 161, 255);
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}






/* Sidebar ////////////////////////////////////////////////// */


.sidebar {
    background-color: rgb(0, 132, 219);
    grid-row: 1 / -1;
    grid-column: 1 / 2;
    min-width: 300px;
    max-width: 100%;  
}
 
.sidebar-links-top div{
    display: grid;
    grid-template-columns: repeat(2, 45px);
    margin-left: 2rem;
    margin-top: 2rem;
 
   
}
.sidebar-links-top {
   margin-top: 2rem;
} 
.branding,
.sidebar-links-top div a,
.sidebar-links-bottom div a {
    user-select: none;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: bold;
}
.sidebar-links-bottom {
    margin-top: 70px;
}
.sidebar-links-bottom div{
    display: grid;
    grid-template-columns: repeat(2, 45px);
   
    margin-left: 2rem;
    margin-top: 2rem;   
}


.branding{
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    margin-left: 2rem;
    gap: 15px;
    
}

svg {
    filter: invert(100%)   brightness(104%) contrast(100%);
}

/* Main content //////////////////////////////////////////////////////// */
.main-content {
    background-color: #e3f1ff;
    /* grid-row: 2 / 4; */
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* grid-template-rows: 1fr 4fr; */
   

}
.projects {
    background-color: #e3f1ff;
    display: grid;
    grid-row: 1 / -1;
    
 
}
h4 {
    margin: 0;
    margin-top: 2rem;
    margin-left: 2rem;
    color: #000;
}
h5 {
    /* margin: 0; */
}
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    gap: 2rem;
    margin-right: 2rem;
    
}
.card{
    background-color: rgb(255, 255, 255);
    /* border: 1px solid black; */
    border-radius: 15px;
    border-left: 15px solid rgb(243, 198, 0);
    box-shadow: 3px 6px 13px rgba(0, 0, 0, 0.301);
    display: grid;
    color: #000;
    padding: 0 2rem 2rem 2rem;
    /* grid-template-rows: 1fr 1fr 1fr; */
    /* display: grid; */
    /* grid-row: span 2;   */
    /* justify-content: start; */
    /* align-items: center; */
  
}
/* .card:nth-child(a + 3){
    margin: 20px; 
} */
.card article{
    display: grid;
    grid-template-rows: 40px 1fr;
    
 }
 .card article p {
    /* overflow: auto;
    text-wrap: wrap; */
    font-size: 14px;
 }
 .article-btn-container {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    /* align-items: end; */
    justify-content: end;
   
 }
.article-btn-container button {
    background-color: #fff;
    border: none;
    cursor: pointer;
}
.article-btn-container button svg {
    filter: invert(0%)   brightness(104%) contrast(100%);
    height: 20px;
    background-color: #fff;
}



.articles {
    background-color: rgb(159, 196, 196);
    /* grid-row: 2/-1; */
    display: grid;
    /* align-items: center; */
    grid-template-rows: 1fr 5fr 5fr;
   
}

.announcement {
    background-color: coral;
    /* grid-row: 2/-1; */
    display: grid;
    /* grid-row: ; */
}
.announcement-container{
    /* display: grid; */
    /* grid-template-columns: repeat(1, 150px); */
    /* grid-template-rows: 2fr 1fr; */
    background-color: rgb(185, 65, 65);
    gap: 20px;
    height: 80%;
    /* margin: 20px; */
    margin-top: 50px;
    border-radius: 10px;

}
.announcement-card{
    /* grid-row: 1 / 3; */
   
}
.announcement-title {
    grid-row: 1;
    grid-column: 1/-1;
}
.trending {
    background-color: rgb(255, 251, 18);
    grid-row: span 2;
}